.idea
**/node_modules
backend/twitch_client_secret
**/*/.pyc
/ExperimentalSomethingSomething/cache/
/ExperimentalSomethingSomething/archives/
/ExperimentalSomethingSomething/.aoe4/
/Twitch Integration/.aoe4/
/Twitch Integration/cache/
/Twitch Integration/archives/
